
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}


/*------------------
#CONTAINER
--------------------*/

.container{
    display: flex;
    flex-direction: row;
}


/*----------------------
#BANNER-CONTENT
------------------------*/

.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #f2796e;
    width: 55%;
    min-height: 100vh;
    padding: 10px 20px;
}

.image{
    background-image: url("./images/illustration.svg");
    height: 65%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/*---------------------
#Form Section
-----------------------*/

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    /* max-width: 400px; */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 50px;
}

form div{
    position: relative;
    margin-bottom: 15px;
}

.title{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

.question{
    font-size: 0.9375rem;
}


.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 8px;
}

a{
    display: block;
    text-decoration: none;
}

.btn-1,
.btn-2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 2px solid #c4c4c4;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 8px;
}

form span{
    display: block;
    color: #f2796e;
    cursor: pointer;
}

.or{
    text-align: center;
}

input{
    width: 100%;
    height: 40px;
    outline: none;
    padding: 0 30px;
    border: 2px soild #c4c4c4;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

input:focus{
    border: 2px solid #f2796e;
}

label{
    display: block;
    margin-bottom: 5px;
}

form div i{
    position: absolute;
    padding: 10px;
}

.success-icon,
.failure-icon{
    right: 0;
    opacity: 0;
}

.failure-icon,
.error{
    color: red;
}

.success-icon{
    color: green;
}

.error{
    font-size: 0.9063rem;
    margin-top: 5px;
}

button{
    margin-top: 15px;
    width: 100%;
    height: 40px;
    background-color: #f2796e;
    color: #fff;
    border: 2px solid #f2796e;
    font-size: 1.25rem;
    font-weight: 400;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease;
}

button:is(:hover, :focus){
    opacity: 0.8;
}



/*--------------
#MEDIA QUERIES 
---------------*/

/* 900px screen */
@media (max-width: 900px){

    .container{
        flex-direction: column;
    }


    .banner-content,
    form{
        width: 100%;
    }

    .image{
        height: 70vh;
    }
}

/* 425px screen */
@media (max-width: 425px){

    form{
        padding: 20px;
    }

}